.DataTable > thead > tr > th {
  text-align: left;
}

.DataTable > thead > tr > th:nth-last-child(1) {
  text-align: center;
}

.DataTable > thead > tr > th:nth-last-child(2) {
  text-align: center;
}

.DataTable > thead > tr > th:first-child {
  min-width: 120px;
  width: 20%;
}
