.App {
  text-align: center;
  overflow: hidden;}

/* New Styles */
:root {
  --primary: #BA3BFC;
  --secondary: #00C6FF;
}

* {
  box-sizing: border-box;
}

/* Navbar */
nav {
  width: 100%;
  padding: 5vh 0;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}

nav img {
  height: 60px;
  -webkit-user-drag: none;
}

/* Landing & it's Sections */
.container {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}
.section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80vh;
}
.sectionText {
  width: 50%;
}
.sectionText h1 {
  color: var(--primary);
  font-weight: bold;
}
.sectionText p {
  color: #B2B2B2;
  width: 70%;
}
.sectionImg {
  width: 50%;
  position: relative;
  text-align: center;
}
.sectionImg img {
  object-fit: contain;
}
.sectionBtn, .NotFound a {
  margin: 0 auto;
  background-color: var(--secondary);
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 1% 10%;
  font-weight: bold;
  border-radius: 100px;
  text-decoration: none;
  width: 35%;
}
.sectionBtn {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
}
/* Fotoer */
#myFooter {
  position: fixed;
  bottom: 0;
  background: white;
  width: 100%;
}
.footerList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.footerList li {
  width: 15%;
}
.footerList li a {
  text-decoration: none;
}
.footerList li a img {
  height: 24px;
}

/*  Not Found Page */
.NotFound {
  width: 100%;
  height: 60vh;
  text-align: center;
  align-items: center;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.NotFound img {
  width: 50vh;
}
.NotFound a {
  display: block;
}
@media screen and (max-width: 1200px) {
  .section {
    flex-wrap: wrap;
    height: auto;
    text-align: center;
  }
  .sectionText {
    order: 2;
    margin: 0 auto;
  }
  .sectionText p {
    width: 100%;
  }
  .sectionImg {
    width: 100%;
    order: 1
  }
  .sectionImg img {
    width: 40%
  }
  .NotFound img {
    width: 30vh
  }
}
@media screen and (max-width: 500px) {
  nav {
    padding: 10% 0;
  }
  .sectionText {
    width: 100%;
    text-align: left;

  }
  .sectionText p {
    width: 100%;
  }
  .sectionImg {
    width: 100%;

  }
  .sectionImg img {
    width: 100%
  }
  .sectionBtn, .NotFound a {
    padding: 5% 10%;
    width: 60%
  }
  .sectionBtn {
    bottom: 25px;
  }
}